:root{
    --primary: #8b5cf6;
    --primary-hover: #6f4cd6;
    --black-hover: #191919;
    --bg: #e5e7eb;
    --dark-primary: #111827;
    --dark-bg: #1f2937;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
html a{
    color: #000;
    text-decoration: none;
}
.container,
.container-3{
    max-width: 500px;
    padding: 20px;
    margin: auto;
}
.container-2{
    max-width: 600px;
    padding: 20px;
    margin: auto;
}
.m-hidden{display: none;}
.d-hidden{display: flex;}
#navbar{
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar >li > a{
    display: flex;
    align-items: center;
    padding: 10px;
}
#navbar #logo:active, .menu li:active, .current{
    a{
        border-bottom: 2px solid var(--primary);
        color: var(--primary);
    }
}
#logo{
    font-size: 2.5rem;
}
#sun-mode,
#moon-mode{
    font-size: 1.5rem;
}
.dark-mode {
    background-color: var(--dark-primary) !important;
    color: white !important;
    *{
        color: white !important;
    }
}
.dark2-mode {
    background-color: var(--dark-bg) !important;
    color: white !important;
    *{
        color: white !important;
    }
}
#hamburger a{
    font-size: 1.3rem;
    color: #000;
}

#mobile-menu{ 
    position: static;
    top: 102px;
    left: 0;
    width: 100%;
    max-height: 0;
    /* opacity: 1; */
    overflow: hidden;
    flex-direction: column;
    background-color: #fff;
    transition: max-height 1.5s;
}
.menu li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{ 
    border-top: 1px solid var(--bg); 
    display: inline-block; 
    width: 50%; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-menu, .right-menu{ 
    display: flex;
    justify-content: space-evenly;
}
main{
    background-color: var(--bg);
}
.welcome{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.welcome h1{
    font-size: 1.8rem;
}
.txt-primary { color: var(--primary) !important;}
.inp-container {
    width: 100%;
    max-width: 240px;
  }

#inp{
    width: 100%;
    padding: 0;
    height: 0;
    border: none;
    outline: none;
    border-radius: 5px;
}
#inp::placeholder{
    color-scheme: #cbcbcb;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
button{
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 15px 0;
    width: 170px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: var(--primary-hover);
}
.btn-qara{
    background-color: #000;
}
.btn-trs{
    background-color: transparent;
    border: 1px solid #666;
    color: #333;
    cursor: pointer;
}
.btn-trs:hover{
    background-color: var(--primary);
    transition: .2s;
    color: #fff;
}
.btn-qara:hover{
    background-color: var(--black-hover);
}
#img1 img{
    width: 100%;
    height: 100%;
}
h2{
    margin-bottom: 20px;
}
#info1{
    padding: 20px;
    border-bottom: 2px solid var(--primary);
}
h4{
    color: var(--primary);
    text-decoration: underline;
}
#info1 p{
    margin-top: 5px;
}
.about{
    display: flex;
    justify-content: space-between;
}
#card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1.2rem;
    justify-items: center;
}
#card-1{
    background-color: #fff;
    min-height: 400px;
    width: 100%;
    margin: auto;
}
#card-1:hover{
    cursor: pointer;
    h2{
        text-decoration: underline;
    }
}
#card-img img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
.card-selected{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
#card-img-selected img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
}
#card-info-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 15px;
}
#card-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 2rem;
}
#card-info p {font-size: .8rem;}
footer{
    height: 30px;
}
footer p{
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    padding-top: 5px;
}
@media only screen and (min-width: 768px) {
    .m-hidden{display: flex;}
    .d-hidden{display: none;}
    .container{max-width: 800px;}
    .container-2{max-width: 1000px;}
    .container-3{max-width: 1200px;}
    .menu li {
        padding: 0 20px; 
        margin: 0 5px; 
        border-bottom: 2px solid var(--bg); 
        display: inline-flex; 
        height: 60px; 
        align-items: center;
    }
    #sun-mode,
    #moon-mode {
        display: block;
        position: absolute;
        right: 10px;
    }
    .menu li a{ 
        border-top: none; 
    }
    #navbar #logo:active, .menu li:active, .current{
        border-bottom: 2px solid var(--primary);
        a{
            border-bottom: none;
            color: var(--primary);
        }
    }
    .welcome h1{
        font-size: 2.2rem;
    }
    #img1 img{
        width: 95%;
        border-radius: 2px;
    }
    #info1{
        width: 90%;
        border-bottom: none;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1);
    }
    #country{
        display: flex;
    }
    h4{
        color: var(--primary);
        text-decoration: underline;
    }
    #info1 p{
        margin-top: 5px;
    }
    .card-selected{
    flex-direction: row-reverse;
}
}