:root{
    --primary: #8b5cf6;
    --primary-hover: #6f4cd6;
    --black-hover: #191919;
    --bg: #e5e7eb;
    --dark-primary: #111827;
    --dark-bg: #1f2937;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
html a{
    color: #000;
    text-decoration: none;
}
.container{
    max-width: 500px;
    padding: 20px;
    margin: auto;
}
.container-2{
    max-width: 600px;
    padding: 20px;
    margin: auto;
}
.m-hidden{display: none;}
.d-hidden{display: flex;}
#navbar{
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar >li > a{
    display: flex;
    align-items: center;
    padding: 10px;
}
#navbar #logo:active, .menu li:active, .current{
    a{
        border-bottom: 2px solid var(--primary);
        color: var(--primary);
    }
}
#logo{
    font-size: 2.5rem;
}
#mode{
    font-size: 1.5rem;
}
#hamburger a{
    font-size: 1.3rem;
    color: #000;
}
.menu{ 
    position: absolute;
    top: 102px;
    left: 0;
    width: 100%;
    transition: .6s linear;
    overflow: hidden;
}
.menu li {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{ 
    border-top: 1px solid var(--bg); 
    display: inline-block; 
    width: 50%; 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-menu{
    background-color: #fff;
    position: absolute;
    top: 0;
}
.right-menu{
    background-color: #fff;
    position: absolute;
    top: 150px;
}
main{
    background-color: var(--bg);
    transition: all 1s linear;
}
.welcome{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.welcome h1{
    font-size: 1.8rem;
}
.txt-primary { color: var(--primary);}
.buttons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
button{
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 15px 0;
    width: 170px;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: var(--primary-hover);
}
.btn-qara{
    background-color: #000;
}
.btn-qara:hover{
    background-color: var(--black-hover);
}
#img1 img{
    width: 100%;
}
h2{
    margin-bottom: 20px;
}
#info1{
    padding: 20px;
    border-bottom: 2px solid var(--primary);
}
h4{
    color: var(--primary);
    text-decoration: underline;
}
#info1 p{
    margin-top: 5px;
}
@media only screen and (min-width: 768px) {
    .m-hidden{display: flex;}
    .d-hidden{display: none;}
    .container{max-width: 800px;}
    .container-2{max-width: 1000px;}
    .menu li {
        padding: 0 20px; 
        margin: 0 5px; 
        border-bottom: 2px solid var(--bg); 
        display: inline-flex; 
        height: 60px; 
        align-items: center;
    }
    #mode {
        display: block;
        position: absolute;
        right: 10px;
    }
    .menu{ 
        position: static;
        display: flex;
        width: initial;
        height: fit-content;
    }
    .menu li {
        width: initial;
    }
    .menu li a{ 
        border-top: none; 
    }
    .left-menu{
        position: static;
        display: flex;
        justify-content: space-evenly;
    }
    .right-menu{
        position: static;
        display: flex;
    
    }
    #navbar #logo:active, .menu li:active, .current{
        border-bottom: 2px solid var(--primary);
        a{
            border-bottom: none;
            color: var(--primary);
        }
    }
    .welcome h1{
        font-size: 2.2rem;
    }
    #img1 img{
        width: 95%;
        border-radius: 2px;
    }
    #info1{
        width: 90%;
        border-bottom: none;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / .1);
    }
    #country{
        display: flex;
    }
    h4{
        color: var(--primary);
        text-decoration: underline;
    }
    #info1 p{
        margin-top: 5px;
    }
}